@import "./resets"; // partials

body {
 background-color: map-get($color, "bgcolor");
}

//navbar stylings nested
.menuNavbar {
 background-color: map-get($color, "bgcolor");
 width: 100%;
 height: 7svh;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 5% 5%;
 position: relative;

 #brandName {
  color: map-get($color, "secondary");
  font-family: map-get($font-family, "fontFamilyA");
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-size, "logo");
  //margin: 4.5svw;
 }


 .menuList {
  width: 100%;
  margin-left: 25svw;

 }

 .menuList a {
  cursor: pointer;
  text-decoration: none;
  font-weight: map-get($font-weight, "regular");
  font-family: map-get($font-family, "fontFamilyB");
  font-size: map-get($font-size, "menuBody");
  color: map-get($color, "primary");
  border-radius: 10px;
  padding: 0.4vw;
 }

 .menuList a:hover {
  background-color: map-get($color, "secondary");
  color: map-get($color, "textA");
  padding: 1vw;
 }

 .menuList a.active {
  background-color: map-get($color, "secondary");
  color: map-get($color, "textA");
  padding: 1svw;
 }

}

.heroSection::before {
 content: "";
 position: absolute;
 inset: 0;
 width: 100%;
 opacity: 0.95;
 background: linear-gradient(180deg, map-get($color, "primary"), map-get($color, "textB"));
 z-index: -1;
}




.heroSection {
 position: relative;
 display: flex;
 width: 100%;
 height: 90svh;
 z-index: 0;
 align-items: center;
 justify-content: space-around;
 padding: auto;

 .herovideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
 }

 .heroContent {
  text-align: center;
  padding: 7svw;

  .herohead {
   font-size: map-get($font-size, "hero");
   font-family: map-get($font-family, "fontFamilyA");
   color: map-get($color, "secondary");
   text-emphasis-style: bold;
  }

  .herobody {
   font-size: map-get($font-size, "body");
   font-family: map-get($font-family, "fontFamilyB");
   color: map-get($color, "textA");
   text-align: center;
  }

 }

}
