@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === media queries. This website is mobile first responsive.====*/
/* For desktop: */
@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  [class*=col-] {
    width: 100%;
  }
  .menuButton {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 2px solid #30336b;
    border-radius: 5px;
    padding: 4px;
  }
  .menuButton .line {
    width: 100%;
    height: 2px;
    margin: 2px 0;
    background-color: #30336b;
  }
  .menuList {
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transiton: 0.2s;
    overflow: hidden;
  }
  .menuList.active {
    height: 6vh;
  }
  .menuList a {
    display: block;
    width: fit-content;
    margin: 5px auto 0 auto;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-family: "Oswald";
    font-size: 2.35vw;
    color: #130f40;
    border-radius: 10px;
    padding: 1.6vw;
    opacity: 0;
    transition: 0.2s;
  }
  .menuList.active a {
    opacity: 1;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
body {
  background-color: #fefefe;
}

.menuNavbar {
  background-color: #fefefe;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  position: relative;
}
.menuNavbar #brandName {
  color: #130f40;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 3.5vw;
}
.menuNavbar .menuList {
  width: 100%;
}
.menuNavbar .menuList a {
  text-decoration: none;
  font-weight: 400;
  font-family: "Oswald";
  font-size: 2.35vw;
  color: #130f40;
  border-radius: 10px;
  padding: 1.6vw;
}
.menuNavbar .menuList a:hover {
  background-color: #30336b;
  color: #ffffff;
  padding: 1vw;
}
.menuNavbar .menuList a.active {
  background-color: #30336b;
  color: #ffffff;
  padding: 1vw;
}

/*# sourceMappingURL=main.css.map */
